//color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//themeColor
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


//topbar
$topbar-height: 50px;
$topbar-color: #02a7dc;
$topbar-border: transparent;
$topbar-hover: #2DC6F6;
$topbar-font-color: #dff0ff;

//sidebar
$sidebar-width: 200px;
$sidebar-bg: #1F304A;
$sidebar-menu-item-height: 48px;
$sidebar-menu-item-padding: 0 20px 0 30px;
$sidebar-menu-item-font-color: #96A7C1;
$sidebar-menu-item-hover: #354C70;
$sidebar-menu-item-bg: #1D2224;

$theme-color: #2DC6F6;
